* {
  font-size: 10px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;

  font-family: 'Roboto', sans-serif;
  text-transform: capitalize;

  --primary-color: hsl(0, 50%, 50);
}

body {
  height: 100%;
  display: flex;

  background-color: hsl(39, 8%, 64%);

  /*   background-image: url('../images/R1344-017-Kanye-My-Beautiful-Dark-Twisted-Fantasy.webp');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed; */
}
