#pads {
  display: grid;
  padding: 3rem;
  gap: 1rem;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: repeat(4, 6rem);

  border-radius: 4px;
  margin: auto;
}

#pads li {
  background-color: hsl(40, 8%, 61%);

  border-radius: 4px;
  border: 0.6px solid;
}

#series {
  font-weight: 900;
  color: grey;
  display: flex;

  border-bottom: 2px solid black;
}

#series-num {
  color: black;
}
