#pads {
  margin-top: 2rem;
  display: inline-grid;
  padding: 3rem 3rem 3rem 3rem;
  gap: 1rem;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: repeat(4, 6rem);

  justify-content: center;
  background-color: hsl(39, 8%, 64%);

  border-radius: 4px;
}

#pads li {
  background-color: hsl(40, 8%, 61%);

  border-radius: 4px;
  border: 0.6px solid;
}
